div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
  /* background-color: white; */
 color: white;
 
}

.box{
  height: 400px;
  width: 30%;
  border-radius: 20px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);

}
.box h1 {
  font-size: 50px;
  margin-top: 10px;
}

.counter__output {
  font-size: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: transparent;
  flex-direction: row;
  column-gap: 70px;
}

.control__btn {
  font-size: 25px;
  padding: 10px 40px;
  background-color: transparent;
  border-radius: 10px;
  color: white;

  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.control__btn:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
}

.reset {
  margin-top: px;
  width: 150px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
font-family:Arial, Helvetica, sans-serif;
font-weight: 600;

  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.reset:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
}